html, body {
  font-family: "Elice Digital Baeum",sans-serif;
}

  main {
    display: flex;
    flex-direction: column;
  }

div nav {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    color: wheat;
}

footer {
    padding-top: 30px;
    background-color: lightgray;
}